*{
	box-sizing: border-box;
}
*:focus{
	outline: transparent;
}
body{
	
	font-family: Raleway;
	color:#363636;
}

a {
	text-decoration: none;
    color:#363636;
}
	
h2{ 
	font-size: 28px;
	line-height: 40px;
	font-weight: 400;
	margin-left: 35px;
}
h3{
	font-weight: 400;
    font-size: 34px;
    margin: 15px 0;
    position: relative;
    z-index: 1;
}

/*-----------------------------------------------*/
/*Button*/

.button{
	display: inline-block;
	border: 1px solid #c54d4d;
	border-radius: 20px;
	text-decoration: none;
	color: #c54d4d;
	padding: 10px 25px;
	font-size: 16px;
	font-weight:400;
}
.button:hover{
	color: #fff;
	background-color: #c54d4d;
}
/*-----------------------------------------------*/

/*////////////////////////////////////////////////////////////////////////////*/

/*-----------INTRO------------- */
.intro {
	background-image: url('../img/bg-promo.png');
	background-size: cover;
  background-attachment: fixed;
}


.container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
  padding-left: 35px;
  padding-right: 35px;
}

#logo{
	display: inline-block;
	margin-top: 35px;
	margin-left: 35px;
}


.carousel{
	margin-top: 135px;
	margin-left: auto;
  margin-right: auto;
  width:100%;
	height: 570px;
}

.wrap{
	float: left;
  padding-right: 60px;
}


 span {
    font-weight: 300;
	font-size: 14px;
	color: #858585;
	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
}

.price {
	font-size: 17px;
    font-weight: 400;
}

.about-product img{
    width: 295px;
}
/*////////////////////////////////////////////////////*/

@media only screen and (max-width: 700px) {
  .carousel{
  margin-top: 100px;
  width: 100%;
  height: 400px;
}

.about-product img {
    width: 200px;

}
.wrap{
  padding-right: 45px;
}
}
@media only screen and (max-width: 550px) {
  .carousel{
    height: 635px;
    text-align: center;
    margin-left: 0;
  }
.wrap {
  float: none;
  padding-right: 0;

}
.about-product img {
  margin-top: 30px;
   margin-right: auto;
   margin-left: auto;
   width: 250px;

}

  }
  @media only screen and (max-width: 380px) {
.about-product img {
  
   width: 200px;

}
.carousel{
    height: 550px;
   
  }

  }
/*//////////////////////////////////////////////////////////////////////////*/
/*-----------PRODUCT--------------*/
.product{
	padding-bottom: 30px;
}
.slaid {
    text-align: center;
    position: relative;
	
}
.slaid img{
  margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 210px;
}
.slaid:before {
	opacity: 0;
	position: absolute;
	left: 15px;
	width: 90%;
	height: 100%;
	content: '';
	z-index: 1;
	background-color: rgba(182, 182, 182, .2);
  border-radius: 20px;
}
.slaid:hover::before{
	opacity: 1;
}


@media only screen and (max-width: 600px) {

.slaid:before {
  left: 114px;
  width: 60%;
  
}

}
@media only screen and (max-width: 500px) {

.slaid:before {
  left: 15px;
  width: 90%;
  
}

}

/*//////////////////////////////////////////////////////////////////////////////////*/

/*-------------SALE-------------*/

.sale {
	background-image: url('../img/sale-bg.png');
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	position: relative;

}


.sale::before {
	position: absolute;
	content: '';
	width:100%;
	height: 100%;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe9090+19,febbbb+38,fe9090+71,fe9090+72,fe9090+97,fe9090+99,fe9090+100,fe9090+100,ff5c5c+100&0+1,0+8,0.39+42,0.39+84,0.71+100,0.53+100,0.71+102 */
background: -moz-linear-gradient(45deg, rgba(254,144,144,0) 1%, rgba(254,144,144,0) 8%, rgba(254,144,144,0.13) 19%, rgba(254,187,187,0.34) 38%, rgba(254,182,182,0.39) 42%, rgba(254,144,144,0.39) 71%, rgba(254,144,144,0.39) 72%, rgba(254,144,144,0.39) 84%, rgba(254,144,144,0.5) 97%, rgba(254,144,144,0.52) 99%, rgba(254,144,144,0.53) 100%, rgba(254,144,144,0.71) 102%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(254,144,144,0) 1%,rgba(254,144,144,0) 8%,rgba(254,144,144,0.13) 19%,rgba(254,187,187,0.34) 38%,rgba(254,182,182,0.39) 42%,rgba(254,144,144,0.39) 71%,rgba(254,144,144,0.39) 72%,rgba(254,144,144,0.39) 84%,rgba(254,144,144,0.5) 97%,rgba(254,144,144,0.52) 99%,rgba(254,144,144,0.53) 100%,rgba(254,144,144,0.71) 102%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(254,144,144,0) 1%,rgba(254,144,144,0) 8%,rgba(254,144,144,0.13) 19%,rgba(254,187,187,0.34) 38%,rgba(254,182,182,0.39) 42%,rgba(254,144,144,0.39) 71%,rgba(254,144,144,0.39) 72%,rgba(254,144,144,0.39) 84%,rgba(254,144,144,0.5) 97%,rgba(254,144,144,0.52) 99%,rgba(254,144,144,0.53) 100%,rgba(254,144,144,0.71) 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fe9090', endColorstr='#b5fe9090',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.sale h2 {
    float: left;
    text-align: center;
    margin-top: 285px;
    margin-bottom: 288px;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    color: #fff;
    position: relative;
}

.check{
	display: inline-block;
	margin-top: 170px;
	padding: 19px 32px;
	width: 165px;
	height: 165px;
	border-radius: 50%;
	background-color: #fff;
	color: #c54d4d;
	font-size:54px;
	font-style: italic;
	font-weight: 600;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, .4);
	float:left;
  position: relative;
  z-index: 1;
}
.single-item{
	width: 370px;
	height: 565px;
	float: right;
	margin-top: 65px;
	background-color: #fff;
	text-align: center;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, .4);
  border-radius: 20px;
  overflow: hidden;
	}

.single-item img{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}
@media only screen and (max-width: 1500px) {

  .sale h2 {
     font-size: 55px;
     margin-left: 0;
}
  .check{
  font-size: 50px;
  padding: 15px 30px;
  width: 150px;
  height: 150px;
  
}
 .single-item{
  width: 300px;
  height: 515px;

  }

}
@media only screen and (max-width: 1250px) {

 .sale h2 {
     font-size: 50px;
   
}
 .single-item{
  width: 270px;
  height: 500px;

  }

.single-item img{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

}

@media only screen and (max-width: 1120px) {
  
  .check{
    display: block;
    margin-top: 100px;
    padding: 20px 35px;
    width: 200px;
    height: 200px;
    font-size: 70px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
 .sale h2 {
     font-size: 65px;
     margin: 20px;
   float: none;
}
 .single-item{
  width: 500px;
  height: 550px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 30px;

  }
  .single-item img{
    width: 350px;
    height: 350px;
}
}
@media only screen and (max-width: 900px) {
   .sale h2 {
     font-size: 45px;
    
}
.check{
    margin-top: 70px;
    padding: 20px 30px;
    width: 150px;
    height: 150px;
    font-size: 50px;
   
}
.single-item{
  width: 400px;
  height: 450px;
  margin-top: 30px;

  }
  .single-item img{
    width: 250px;
    height: 250px;
}

}
@media only screen and (max-width: 680px) {
  .sale h2 {
     font-size: 40px;
    
}
  .single-item{
  width: 300px;
  height: 400px;
  margin-top: 30px;

  }
  .single-item img{
    width: 200px;
    height: 200px;
}

}
@media only screen and (max-width: 380px) {
  .sale h2 {
     font-size: 30px;
    
}
  .single-item{
  width: 250px;
  height: 400px;
  margin-top: 30px;

  }

 } 
/*///////////////////////////////////////////////////////////////////*/

/*---------CONTACT----------*/

.contact{
	background-image: url('../img/bg-contact.png');
	background-size: cover;
  background-attachment: fixed;
	text-align: center;
}
form{
	padding-bottom: 160px;
}
input{
	/*width: 470px;*/
  width: 35%;
	padding: 10px 15px;
}
.sub{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;

}
.contact h2{
  padding-top: 35px;
}
@media only screen and (max-width: 900px) {

input {
  width: 70%;
}
}

@media only screen and (max-width: 480px) {

     .contact h2{
  font-size: 23px;
}
  }
/*////////////////////////////////////////////////////////////////*/

/*----------FOOTER-------------*/

footer{

	background-color: #2b2c30;
	color: #fff;
}

footer ul{
list-style-type: none;
margin: 20px 0;
padding: 0;
}

footer a{
	display: block;
	color: #888888;
	padding: 8px;
	
}
.col-25{
  display: inline-block;
	padding-top: 55px;
	padding-bottom: 35px;
	width: 25%;
	float: left;
	text-align: center;

}

.col-25 span{
  color: #fff;
<<<<<<< HEAD
  cursor: pointer;
=======
  cursor:pointer;	
>>>>>>> c16dbab2efed6f9bc1ed04b8f45fbb6d656b2fc9
}

.social{
  text-align: center;
	width: 25%;
  float: right;
}
.social span{
  color: #fff;
}
.social li{
	display: inline-block;
}

footer a:hover{
	color: #fff;
}
.social a:hover{
	color: #c54d4d;
}

.site-footer-bottom{
	background-color: #141518;
	text-align: center;
	color: #888888;
}

.site-footer-bottom p{
	font-size: 12px;
	line-height: 50px;
}




@media only screen and (max-width: 800px) {

  footer ul {
  display: none;

  }
  .social ul{
    display: inline-block;
    margin: 0;	  
  }
  .social{
  width: 50%;
}


.col-25 span {
  font-size: 14px;

}
.col-25{
  width: 50%;
  padding-top: 30px;
  padding-bottom: 0px;

}
}  

@media only screen and (max-width: 500px) {
.col-25{
  width: 100%;
  float: none;
  }
  .social{
 width:  100%;
 
}
.site-footer-bottom p{
  padding: 30px;
  font-size: 10px;
  line-height: 12px;
}

}
/*///////////////////////////////////////////////////////*/

/*----------STYLE MENU-----------*/


#cd-top-nav {
  position: absolute;
  top: 0;
  right: 120px;
}

#cd-top-nav ul {
  padding-top: 18px;
}

#cd-top-nav li {
  display: inline-block;
  margin-right: 8px;
}
#cd-top-nav a {
  display: inline-block;
  padding: 8px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
}
#cd-top-nav a.current {
  background-color: #242e30;
}


#cd-top-nav a.icon-login{
  padding:0;
}

/*////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 770px) {
     #cd-top-nav {

     top: 33px;
     right: 65px;
}

    #cd-top-nav ul {
      margin:0;
      padding: 0;
    
  
}
#cd-top-nav a+a{
  display: none;
}
#cd-top-nav a.icon-login{
  padding: 5px;
}
}


/*////////////////////////////////////////////////////////////////////*/

#cd-menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;

}
#cd-menu-trigger .cd-menu-text {
  height: 100%;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 600;
  display: none;
}
#cd-menu-trigger .cd-menu-icon {
 
  display: inline-block;
  position: absolute;
  top: 34px;
  bottom: auto;
  right: auto;
  width: 18px;
  height: 2px;
  background-color: #FFF;
}

#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
  left: 0;
}
#cd-menu-trigger .cd-menu-icon::before {
  bottom: 5px;
}
#cd-menu-trigger .cd-menu-icon::after {
  top: 5px;
}
/**/
/**/

@media only screen and (min-width: 768px) {
  #cd-menu-trigger {
    width: 110px;
    padding-left: 20px;
  }
  #cd-menu-trigger .cd-menu-text {
    display: inline-block;
    line-height: 70px;
  }
  #cd-menu-trigger .cd-menu-icon {
    left: auto;
    right: 15px;
  }
}

#cd-lateral-nav {
  position: fixed;
  height: 784px;
  right: 0;
  top: 0;
  visibility: hidden;

  z-index: 1;
  width: 260px;
  background-image: url('../img/bg-menu.png');
  overflow-y: auto;

  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0s 0s, visibility 0s 0s;
  transition: transform 0s 0s, visibility 0s 0s;
  
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}

#cd-lateral-nav .cd-navigation {
  margin: 10px 0 16px;
}

.cd-navigation li{
  display: block;
  padding: 15px;

}
#cd-lateral-nav a {
  color: #aab5b7;
  border: 2px solid transparent;
}

#cd-lateral-nav a:hover{
  border-bottom: 2px solid #c54d4d;
}
@media only screen and (min-width: 768px) {
  #cd-lateral-nav .cd-navigation {
    margin: 20px 0;
  }
}
#cd-lateral-nav.lateral-menu-is-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform 1s 0s, visibility .3s 0s;
  -moz-transition: -moz-transform 1s 0s, visibility .3s 0s;
  transition: transform 1s 0s, visibility .3s 0s;

  -webkit-overflow-scrolling: touch;
   /*-webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);*/
}



/*///////////////////////////////////////////////////////*/

/*-----------HELP CLASSES---------*/

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}


.slick-dots li button:before {
	font-size: 25px;
}
.slick-dots {
	bottom: 40px;
}
.slick-dots li.slick-active button:before{
	color: #c54d4d;
}
button.slick-arrow, .slick-next{
	background-color: transparent;
	border: none;
  right: 0;
}
